{% extends "base.html" %} {% load static %} {% block title %} New Submission {% endblock title %} {% block content %}
<div class="content-wrapper">
  <div class="content">
    <!-- For Components documentaion -->
    <div class="row page-titleall">
      <div class="col-sm-8">
        <h2 class="page-title"><span>New Submission</span></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12">
        <!-- Account Settings -->
        <div class="card card-default">
          <div class="card-header">
            <h2 class="mb-5">Basic data</h2>
          </div>

          <div class="card-body">
            <form method="post" action="/add-submission">
              {% csrf_token %}
              <div class="row mb-2">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="firstName"
                      >Timestamp:
                      <span class="badge badge-warning"
                        >{{ timestamp }}</span
                      ></label
                    >
                  </div>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="firstName"
                      >Agent Name: <span>{{ employee }}</span></label
                    >
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <div class="form-group">
                      <label for="firstName"
                        >Team Manager: <span>{{ team_leader }}</span></label
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label for="pos_type">POS Type:</label>
                        <div>
                            {% for radio in form.pos_type %}
                                {{ radio }} &nbsp;&nbsp;&nbsp;
                            {% endfor %}
                        </div>
                    </div>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="firstName"
                      ><span class="danger1">*</span> First Name:</label
                    >
                    <!-- <input name="" id="" type="" placeholder="" required class="form-control" /> -->
                    <input
                      name="first_name"
                      id="first_name"
                      type="text"
                      placeholder="First Name"
                      required
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="firstName">Middle Initial:</label>
                    <input
                      name="middle_initial"
                      id="middle_initial"
                      type="text"
                      placeholder="Middle Initial"
                      class="form-control"
                    />
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="lastName"
                      ><span class="danger1">*</span> Last Name</label
                    >
                    <input
                      name="last_name"
                      id="last_name"
                      type="text"
                      placeholder="Last Name"
                      required
                      class="form-control"
                    />
                  </div>
                </div>
              </div>

              <div class="row mb-2">

                <div class="col-lg-3">
                  <div class="form-group">
                    <label for="firstName"
                      ><span class="danger1">*</span> Phone number:</label
                    >
                    <input
                      name="phone"
                      id="phone"
                      type="text"
                      placeholder="Phone Number"
                      required
                      class="form-control"
                      oninput="limitInput(this, 10); this.value = this.value.replace(/[^0-9]/g, '');"
                    />
                  </div>
                </div>

                <div class="col-lg-3">
                  <div class="form-group">
                    <label for="firstName"
                      ><span class="danger1">*</span> Phone number 2:</label
                    >
                    <input
                      name="phone2"
                      id="phone2"
                      type="text"
                      placeholder="Phone Number 2"
                      class="form-control"
                      oninput="limitInput(this, 10); this.value = this.value.replace(/[^0-9]/g, '');"
                    />
                  </div>
                </div>

                <div class="col-lg-2">
                  <div class="form-group">
                    <label for="firstName"
                      ><span class="danger1">*</span> Med ID:</label
                    >
                    <input
                      name="medical_id"
                      id="medical_id"
                      type="text"
                      placeholder="Medical ID"
                      required
                      class="form-control"
                      oninput="limitInput(this, 11)"
                    />
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="birth_date"
                      ><span class="danger1">*</span> Date of birth</label
                    >
                    <div
                      class="d-flex justify-content-between align-items-end"
                      id="birth_date"
                    >
                      <select
                        name="birth_date_day"
                        required=""
                        id="id_birth_date_day"
                        class="form-control"
                      >
                        <option value="" selected="">Day</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                      </select>
                      <select
                        name="birth_date_month"
                        required=""
                        id="id_birth_date_month"
                        class="form-control mx-1"
                      >
                        <option value="" selected="">Month</option>
                        <option value="1">January</option>
                        <option value="2">February</option>
                        <option value="3">March</option>
                        <option value="4">April</option>
                        <option value="5">May</option>
                        <option value="6">June</option>
                        <option value="7">July</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">October</option>
                        <option value="11">November</option>
                        <option value="12">December</option>
                      </select>
                      <select
                        name="birth_date_year"
                        required=""
                        id="id_birth_date_year"
                        class="form-control"
                      >
                        <option value="" selected="">Year</option>
                        {% for year in years %}
                          s<option value="{{ year }}">{{ year }}</option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group mb-4">
                <label for="userName"
                  ><span class="danger1">*</span> Address</label
                >
                <textarea
                  name="address"
                  id="address"
                  required
                  rows="5"
                  class="form-control"
                  placeholder="Lead Address"
                ></textarea>
              </div>

              <div class="row mb-2">
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="firstName"
                      ><span class="danger1">*</span> City:</label
                    >
                    <input
                      name="city"
                      id="city"
                      type="text"
                      placeholder="City"
                      required
                      class="form-control"
                    />
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="firstName"
                      ><span class="danger1">*</span> State:</label
                    >
                    <input
                      name="state"
                      id="state"
                      type="text"
                      placeholder="State"
                      required
                      class="form-control"
                    />
                  </div>
                </div>

                <div class="col-lg-4">
                  <div class="form-group">
                    <label for="lastName"
                      ><span class="danger1">*</span> Zipcode:</label
                    >
                    <input
                      name="zip_code"
                      id="zip_code"
                      type="text"
                      placeholder="Zipcode"
                      required
                      class="form-control"
                      oninput="limitInput(this, 10); this.value = this.value.replace(/[^0-9]/g, '');"
                    />
                  </div>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-lg-4">
                  <div class="form-group mb-4">
                    <label for="userName"> Insurance Type:</label>
                    <select name="insurance_type" class="form-control">
                      <option selected disabled value="Insurance Type">Insurance Type</option>
                      <option value="PART B">PART B</option>
                      <option value="UHC/AARP">UHC/AARP</option>
                      <option value="AETNA/COVENTRY">AETNA/COVENTRY</option>
                      <option value="HUMANA">HUMANA</option>
                      <option value="HMO">HMO</option>
                      <option value="BAD PPO">BAD PPO</option>
                      <option value="MSP">MSP</option>
                      <option value="INACTIVE PART B">INACTIVE PART B</option>
                      <option value="NOT ELIGIBLE">NOT ELIGIBLE</option>
                      <option value="BAD INSURANCE">BAD INSURANCE</option>
                      <option value="WRONG INFO (ID OR NAME) (POS4)">WRONG INFO (ID OR NAME) (POS4)</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-lg-4">
                  <div class="form-group mb-4">
                    <label for="userName"> Status:</label>
                    <select name="status" id="status" class="form-control">
                      <option selected disabled value="Status">Status</option>
                      {% for s in status %}
                      <option value="{{ s.name }}">{{s.name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>

              <div class="d-none" id="products">
                <div class="col-lg-12">
                  <div class="form-group mb-4">
                    <label for="userName" class="mb-4"> Products:</label>
                    <table class="table-bordered w-100 text-center">
                      <thead>
                        <tr>
                          <th class="py-3">
                            <input
                              checked
                              disabled
                              type="checkbox"
                            />
                          </th>
                          <th>Product</th>
                          <th class="w-25">Count</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for p in products %}
                        <tr>
                          <td>
                            <input
                              name="checkbox-{{ forloop.counter }}"
                              id="checkbox-{{ forloop.counter }}"
                              type="checkbox"
                              onchange="toggleCountInput(this)"
                            />
                          </td>
                          <td>{{p.name}}</td>
                          <td>
                            <input
                              name="count-{{ forloop.counter }}"
                              id="count-{{ forloop.counter }}"
                              type="number"
                              placeholder="Count"
                              min="1"
                              class="form-control"
                              disabled
                              oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                              value="1"
                            />
                            <input
                              name="p-{{ forloop.counter }}"
                              id="p-{{ forloop.counter }}"
                              type="text"
                              hidden
                              value="{{ p.name }}"
                            />
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>

                  <div class="row mb-2">
                    <div class="col-lg-4">
                      <div class="form-group mb-4">
                        <label for="closer"> Closer:</label>
                        <select name="closer" class="form-control">
                          <option selected disabled value="Closer">Closer</option>
                          {% for s in closers %}
                          <option value="{{ s.name }}">{{s.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

              </div>

              <div class="form-group mb-4">
                <label for="comment"> Comment</label
                >
                <textarea
                  name="comment"
                  id="comment"
                  required
                  rows="5"
                  class="form-control"
                  placeholder="Commnet"
                ></textarea>
              </div>

              <div class="d-flex justify-content-end mt-6">
                <button type="submit" class="btn btn-primary mb-2 btn-pill">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Get the initial value of the status field
  const statusField = document.getElementById("status");
  const productsField = document.getElementById("products");
  statusField.addEventListener("change", (e) => {
    if (e.target.value == "Transfered") {
      productsField.className = "row mb-2";
    } else {
      productsField.className = "d-none";
    }
  });

  if (statusField.value == "Transfered") {
    productsField.className = "row mb-2";
  } else {
    productsField.className = "d-none";
  }

  function toggleCountInput(checkbox) {
    var countInput = document.getElementById(
      "count-" + checkbox.id.split("-")[1]
    );
    countInput.disabled = !checkbox.checked;
  }

  function limitInput(inputElement, maxLength) {
    if (inputElement.value.length > maxLength) {
      inputElement.value = inputElement.value.slice(0, maxLength);
    }
  }
</script>
{% endblock content %}
