{% extends "base.html" %} {% load static %} {% block title %} Queues {% endblock title %} {% block content %}
<div class="content-wrapper">
  <div class="content">
    <!-- Card Profile -->

    <div class="row page-titleall">
      <div class="col-sm-8">
        <h2 class="page-title"><span>Queues</span></h2>
      </div>

      {% if user.role == "Super Admin" or user.role == "Admin" %}
      <div class="col-sm-4 text-right">
        <a
          class="btn btn-primary btn-pill"
          href="/queues/create"
          role="button"
        >
          Add Queue
        </a>
      </div>
      {% endif %}

    </div>
    <div class="row">
      <div class="col-12">
        <div class="card card-default">
          <div class="card-body">
            <table
              id="productsTable"
              class="table table-striped table-product"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>#</th>
                  <th>Queue Name</th>
                  <th>Website</th>
                  <th>User</th>
                  <th>Edit/Delete</th>
                </tr>
              </thead>
              <tbody>
                {% for q in queues %}
                <tr>
                  <td class="py-0">{{ forloop.counter }}</td>
                  <td>{{ q.name }}</td>
                  <td>
                    <div class="form-group">
                      <form method="post" action="/update-queue-website" class="input-group w-75">
                          {% csrf_token %}
                          <input
                              type="text"
                              class="form-control"
                              placeholder="Website"
                              aria-label="Website"
                              aria-describedby="btn-{{ forloop.counter }}"
                              required
                              id="websiteField-{{ forloop.counter }}"
                              name="website"
                              {% for uq in queues_users %}
                                  {% if uq.queue.id == q.id %}
                                      value="{{ uq.website }}"
                                  {% endif %}
                              {% endfor %}
                          />
                          <input
                              type="text"
                              name="user_queue"
                              {% for uq in queues_users %}
                                  {% if uq.queue.id == q.id %}
                                      value="{{ uq.id }}"
                                  {% endif %}
                              {% endfor %}
                              hidden
                          />

                          <div class="input-group-append">
                            <button type="submit" class="btn btn-dark" id="btn-{{ forloop.counter }}">Save</button>
                          </div>
                      </form>
                    </div>
                  </td>
                  <td>
                    <form method="post" action="/update-queue-user" class="input-group w-75">
                      {% csrf_token %}
                      <input
                          type="text"
                          class="form-control"
                          placeholder="Username"
                          aria-label="Username"
                          aria-describedby="btn2-{{ forloop.counter }}"
                          required
                          id="usernameField-{{ forloop.counter }}"
                          name="username"
                          {% for uq in queues_users %}
                              {% if uq.queue.id == q.id %}
                                  value="{{ uq.user.username }}"
                              {% endif %}
                          {% endfor %}
                      />
                      <input
                          type="text"
                          name="queue_id"
                          value="{{ q.id }}"
                          hidden
                      />

                      <div class="input-group-append">
                        <button type="submit" class="btn btn-secondary" id="btn2-{{ forloop.counter }}">update</button>
                      </div>
                    </form>
                  </td>
                  <td>
                    {% if user.role == "Super Admin" or user.role == "Admin" %}
                    <a href="/queues/{{ q.id }}/update" class="btn btn-warning iconbtn"
                      ><i class="mdi mdi-account-edit"></i
                    ></a>
                    <a href="/queues/{{ q.id }}/delete" class="btn btn-danger iconbtn"
                      ><i class="mdi mdi-delete"></i
                    ></a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}">&lsaquo; Previous</a>
            {% endif %}

            <!-- Loop through page numbers -->
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <span class="current">{{ i }}</span>
                {% else %}
                  {% if i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                    <a href="?page={{ i }}">{{ i }}</a>
                  {% endif %}
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next &rsaquo;</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



<!-- Search Field -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const usernameFields = document.querySelectorAll('[id^="usernameField-"]');
    for (let i = 0; i < usernameFields.length; i++) {
      let userInput = usernameFields[i];
      let userContainer = userInput.parentElement.parentElement;
      let dropdown;

      userInput.addEventListener("focus", function () {
        // Simulate fetching user data (replace this with your actual endpoint)
        let userData = "";

        // Create a dropdown element
        dropdown = document.createElement("div");
        dropdown.className =
          "dropdown d-block position-absolute bg-dark w-25 text-light p-1";
        dropdown.style.zIndex = 10000;
        userInput.placeholder = "Search for an employee";

        userInput.addEventListener("input", function () {
          let searchTerm = userInput.value.toLowerCase();

          // Make an AJAX request to the Django view
          fetch("/user-search/?search_term=" + searchTerm)
            .then((response) => response.json())
            .then((data) => {
              // Update the dropdown with the fetched data
              updateDropdown(data.employees);
            });
        });

        // Create a list to display user options
        let userList = document.createElement("ul");
        userList.className = "user-list";

        // Append elements to the dropdown
        dropdown.appendChild(userList);

        // Append the dropdown to the body
        userContainer.appendChild(dropdown);

        // Add users to the list
        fetch("/user-search/")
          .then((response) => response.json())
          .then((data) => {
            // Update the dropdown with the fetched data
            updateDropdown(data.employees);
          });

        // Close the dropdown when clicking outside of it
        document.addEventListener("click", function (event) {
          if (
            !dropdown.contains(event.target) &&
            event.target !== userInput
          ) {
            dropdown.remove();
          }
        });
      });

      function updateDropdown(users) {
        let userList = document.querySelector(".user-list");
        userList.innerHTML = ""; // Clear existing options

        // Create and append user options to the list
        users.forEach(function (user) {
          let listItem = document.createElement("li");
          listItem.className = "searchFieldDropdownItem";
          listItem.textContent = user.username;

          // Handle user selection
          listItem.addEventListener("click", function () {
            userInput.value = user.username;
            dropdown.remove();
          });

          userList.appendChild(listItem);
        });
      }
    }
  });
</script>

{% endblock content %}
