{% extends "base.html" %} {% load static %} {% block title %} Add Employee {% endblock title %} {% block content %}
<div class="content-wrapper">
  <div class="content">
    <!-- For Components documentaion -->
    <div class="row page-titleall">
      <div class="col-sm-8">
        <h2 class="page-title"><span>Add Employee</span></h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-12">
        <!-- Account Settings -->
        <div class="card card-default">
          <div class="card-header">
            <h2 class="mb-5">Basic data</h2>
          </div>

          <!-- Display messages -->

          {% if form.errors %}
            <div class="error-messages">
              {{ form.errors }}
            </div>
          {% endif %}


          <div class="card-body">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}

              <div class="row mb-2">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="firstName">First name</label>
                    {{ form.first_name }}
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="lastName">Last name</label>
                    {{ form.last_name }}
                  </div>
                </div>
              </div>

              <div class="row mb-4">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="userName">Username</label>
                    {{ form.username }}
                    <span class="d-block mt-1"
                      >Username to login with.</span
                    >
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="role">Team Leader</label>
                    {{ form.team_leader }}
                  </div>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="role">User type</label>
                    {{ form.role }}
                  </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="birth_date">Date of Birth</label>
                    <div class=" d-flex justify-content-between align-items-end" id="birth_date">
                      {{ form.birth_date }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="email">Email</label>
                    {{ form.email }}
                </div>
                </div>

                <div class="col-lg-6">
                  <div class="form-group">
                    <label for="birth_date">Phone Number</label>
                    {{ form.phone }}
                  </div>
                </div>
              </div>

              <div class="form-group mb-4">
                <label for="email">User image</label>
                {{ form.image }}
              </div>

              <div class="form-group mb-4">
                <img src="{% static 'images/user/u7.jpg' %}" class="img-fluid userimage" />
              </div>

              <div class="form-group mb-4">
                <label for="newPassword">New password</label>
                {{ form.password1 }}
              </div>

              <div class="form-group mb-4">
                <label for="conPassword">Confirm password</label>
                {{ form.password2 }}
              </div>

              <div class="d-flex justify-content-end mt-6">
                <button type="submit" class="btn btn-primary mb-2 btn-pill">
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
  // edit birth_date form
  const birth_date_container = document.getElementById("birth_date");
  const day_field = document.getElementById("id_birth_date_day");
  const month_field = document.getElementById("id_birth_date_month");
  const year_field = document.getElementById("id_birth_date_year");

  day_field.className = "form-control ";
  month_field.className = "form-control mx-1";
  year_field.className = "form-control ";

  birth_date_container.innerHTML = `
    ${day_field.outerHTML}
    ${month_field.outerHTML}
    ${year_field.outerHTML}
    `;
</script>
{% endblock content %}
