{% extends "base.html" %}
{% load static %}

{% block title %}
    Change Password
{% endblock title %}

{% block content %}
<div class="content-wrapper">
    <div class="content">
      <!-- Card Profile -->
      <div class="card card-default card-profile">
        <div class="card-header-bg"></div>

        <div class="card-body card-profile-body">
          <div class="profile-avata">
            <img
              {% if user.image %}
              src="{{ user.image.url }}"
              {% else %}
              src="{% static 'images/user/user-md-01.jpg' %}"
              {% endif %}
              class="rounded-circle"
              alt="Avatar Image"
            />
            <a class="h5 d-block mt-3 mb-2" href="#">{{ user.username }}</a>
            <a class="d-block text-color" href="#">{{ user.email }}</a>
          </div>
        </div>

        <div class="card-footer card-profile-footer">
          <ul class="nav nav-border-top justify-content-center">
            <li class="nav-item">
              <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/account">Account Setting</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-3">
          <!-- Settings -->
          <div class="card card-default">
            <div class="card-header">
              <h2>Details</h2>
            </div>

            <div class="card-body pt-0">
              <ul class="nav nav-settings">
                <li class="nav-item">
                  <a class="nav-link" href="/profile">
                    <i class="mdi mdi-account-outline mr-1"></i> Profile
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/account">
                    <i class="mdi mdi-settings-outline mr-1"></i> Account
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/change-password">
                    <i class="mdi mdi-settings-outline mr-1"></i> Change Password
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        {% comment %} Content {% endcomment %}
        <div class="col-xl-9">
          <!-- Account Settings -->
          <div class="card card-default">
            <div class="card-header">
              <h2 class="mb-5">Change Password</h2>
            </div>

            <!-- Display messages -->

            <div class="card-body">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row mb-2">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="firstName">Old Password</label>
                            {{ form.old_password }}
                            <span class="error-message">{{ form.old_password.errors }}</span>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="lastName">New Password</label>
                            {{ form.new_password1 }}
                            <span class="error-message">{{ form.new_password1.errors }}</span>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="form-group">
                            <label for="lastName">Confirm Password</label>
                            {{ form.new_password2 }}
                            <span class="error-message">{{ form.new_password2.errors }}</span>
                        </div>
                    </div>
                </div>
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
                <div class="d-flex justify-content-end mt-6">
                  <button type="submit" class="btn btn-primary mb-2 btn-pill">
                    Change Password
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
  let passwordFields = document.querySelectorAll("input[type='password']");
  console.log(passwordFields);
  passwordFields.forEach(field => {
    field.addEventListener('focus', () => {
      field.type = 'text';
    });
    field.addEventListener('blur', () => {
      field.type = 'password';
    });
  });
  </script>

{% endblock content %}
