{% extends "base.html" %} {% load static %} {% block title %} Employees {% endblock title %} {% block content %}
<div class="content-wrapper">
  <div class="content">
    <!-- Card Profile -->

    <div class="row page-titleall">
      <div class="col-sm-8">
        <h2 class="page-title"><span>Employees</span></h2>
      </div>

      {% if user.role == "Super Admin" or user.role == "Admin" %}
      <div class="col-sm-4 text-right">
        <a
          class="btn btn-primary btn-pill"
          href="/add-employee"
          role="button"
        >
          Add employee
        </a>
      </div>
      {% endif %}

    </div>
    <div class="row">
      <div class="col-12">
        <div class="card card-default">
          <div class="card-body">
            <table
              id="productsTable"
              class="table table-hover table-product"
              style="width: 100%"
            >
              <thead>
                <tr>
                  <th>#</th>
                  <th>Employee Name</th>
                  <th>Employee type</th>
                  <th>Email</th>
                  <th>Phone</th>
                  <th>{% if user.role == "Super Admin" or user.role == "Admin" %} Status {% else %} Username {% endif %}</th>
                  <th>Edit/Delete/View</th>
                </tr>
              </thead>
              <tbody>

                {% for u in users %}
                  <tr class="searchCol">
                    <td class="pt-3">{{ forloop.counter }}</td>
                    <td class="name">{{u.first_name}} {{u.last_name}}</td>
                    <td>{{u.role}}</td>
                    <td class="email">{{u.email}}</td>
                    <td>{{u.phone}}</td>
                    <td>

                      {% if user.role == "Super Admin" or user.role == "Admin" %}
                      <select class="form-control" id="userState-{{ forloop.counter }}">
                        {% if u.is_active %}
                        <option selected  data-url="{% url 'activate_user' u.id %}">Active</option>
                        <option data-url="{% url 'deactivate_user' u.id %}">Deactivate</option>
                        {% else %}
                        <option data-url="{% url 'activate_user' u.id %}">Active</option>
                        <option selected data-url="{% url 'deactivate_user' u.id %}">Deactivate</option>
                        {% endif %}
                      </select>
                      {% else %}
                      {{ u.username }}
                      {% endif %}

                    </td>
                    <td>
                      {% if user.role == "Super Admin" or user.role == "Admin" %}
                      <a href="/employees/edit/{{ u.id }}" class="btn btn-warning iconbtn"
                        ><i class="mdi mdi-account-edit"></i
                      ></a>
                      <a href="{% url 'delete_user' u.id %}" class="btn btn-danger iconbtn"
                        ><i class="mdi mdi-delete"></i
                      ></a>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}

              </tbody>
            </table>
          </div>
          <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; First</a>
                <a href="?page={{ page_obj.previous_page_number }}">&lsaquo; Previous</a>
            {% endif %}

            <!-- Loop through page numbers -->
            {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                    <span class="current">{{ i }}</span>
                {% else %}
                  {% if i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                    <a href="?page={{ i }}">{{ i }}</a>
                  {% endif %}
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next &rsaquo;</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  const userStates = document.querySelectorAll('[id^="userState-"]');
  for (let q = 0; q < userStates.length; q++) {
    const userState = userStates[q];
    userState.addEventListener('change', function() {
      const selectedOption = this.options[this.selectedIndex];
      if (selectedOption.value && selectedOption.getAttribute('data-url')) {
        const url = selectedOption.getAttribute('data-url');
        window.location.href = url;
      }
    });
  };

  const searchInput = document.getElementById("search-input");
  const searchForm = document.getElementById("search-form");
  searchInput.disabled = false;
  searchInput.placeholder = "Search by Name or Email ..."
  searchInput.addEventListener("input", event => {
    let searchValue = event.target.value.trim().toLowerCase();
    searchForm.setAttribute("action", `/employees?q=${searchValue}`)
  });
</script>
{% endblock content %}
